<div class="top-image">
	<div class="top-content">
		<div class="top-text">
			<p class="sub-title">協力業者が見つかり、繋がれる</p>
			<p class="main-title">建設業ネットワーク</p>
			<p class="sub-title">IC.inc</p>
		</div>
	</div>
	<div class="top-sign-in">
		<%= link_to "まずは会員登録してネットワークに参加する", new_user_registration_path, class: "btn btn-top" %>
	</div>
	<div class="recommend">
		<div class="recommend-title">こんな方にオススメ！！</div>
		<div class="recommend-user clearfix">
			<div class="recommend-user-text">
				<p class="recommend-text">新しい会社を立ち上げたけど<br>
				<span>ツテがない...仕事がない</span></p>
				<img class="reccomend-image" src="/35086.png">
			</div>
			<div class="recommend-user-text-center">
				<p class="recommend-text">大きな案件を手伝ってくれる<br>
				<span>新しい業者を探したい</span></p>
				<img class="reccomend-image-center" src="/19615.png">
			</div>
			<div class="recommend-user-text">
				<p class="recommend-text">案件はたくさんあるのに<br>
				<span>人手が足りない.....</span></p>
				<img class="reccomend-image" src="/19643.png">
			</div>
		</div>
	</div>
</div>
