
.project-main-content {
	padding: 32px;
}
.project-top {
	width: 900px;
	background-color: #fff;
	box-shadow: 0 0 4px gray;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
}
.project-title {
	font-size: 30px;
	color: #34373a;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600px;
}
.project-edit-title {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.project-edit-fee {
	width: 35%;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.project-edit-location {
	width: 20%;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.project-info {
	width: 100%;
	height: 300px;
	background-color: #1E2022;
}
