.user-main-content {
/*	padding: 32px;*/
}
.user-profile-top {
	width: 960px;
	height: 300px;
/*	background-color: #1E2022;*/
	background-image: linear-gradient(135deg, rgba(72, 85, 99, 0.9), rgba(41, 50, 60, 0.9));
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
}
.company-profile-top {
	width: 100%;
	height: 300px;
	background-color: #1E2022;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
}
.user-profile-pr {
	width: 960px;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;

}
.profile-pr {
    font-weight: 500;
    font-family: "游ゴシック", YuGothic, sans-serif;
    font-size: 23px;
    color: #34373a;
}
.english-profile-pr {
	color: #949697;
	margin-top: 0px;
}
.profile-pr-text {
	width: 85%;
	height: 90%;
	margin: 0 auto;
/*	background-color: #fbfbfb;*/
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}
.nil-profile-pr-text {
	margin: 0 auto;
	font-size: 15px;
	font-family: "Noto Sans JP", sans-serif;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;
}
.exit-profile-pr-text {
	width: 100%;
	height: 90%;
	padding-top: 15px;

}
.exit-profile-pr-text {
	font-size: 15px;
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.75em;
}
.user-profile-image {
	text-align: center;
}
.user-profile-name {
	text-align: center;
/*	font-size: 28px;*/
	color: #fff;
	font-size: 1.5em;
	line-height: 2.5;
	font-weight: 600;
}
.user-profile-residence {
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.user-profile-edit {
	text-align: center;
	padding-top: 10px;
}
.btn-edit {
	background-color: #fff;
	color: #01bfbd;
}
.btn-edit:hover {
	background-color: #EEEEEE;
	color: #01bfbd!important;
}
.user-edit-top {
	width: 900px;

	background-color: #fff;
	box-shadow: 0 0 4px gray;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
}
.user-edit-title {
	font-size: 30px;
	color: #34373a;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600px;
}
.user-edit-image {
	padding-left: 30px;
	padding-top: 30px;
}
.btn-image-edit {
	margin-left: 40px;
	background-color: #eeeeee;

}
.btn-image-edit:hover {
	margin-left: 40px;
	background-color: #DDDDDD;
}
.many-fields {
	padding: 30px;
}
.user-edit-name {
	width: 50%;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.user-edit-email {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.btn-edit-residence {
	background-color: #fbfbfb!important;
	border: 1px solid #d9d9d9!important;
	color: inherit!important;
}
.user-pr {
	width: 900px;
	height: 300px;
	background-color: #fff;
	box-shadow: 0 0 4px gray;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
	margin-top: 40px;
}
.user-pr-title {
	width: 35%;
	height: 100%;
	float: left;
	padding: 20px;
}
.user-pr-text {
	width: 65%;
	height: 100%;
	float: left;

}
.pr-description-title {
	font-size: 20px;
	font-weight: 600px;
}
.pr-description-text {
	font-size: 11px;
	color: #949697;
}
.pr {
	background-color: #fbfbfb!important;
	border: 1px solid #d9d9d9!important;
}
.user-profile-complete {
	width: 900px;
	margin: 0 auto;
}
.btn-complete {
	background-color: #00abb3;
	color: white;
	width: 100%;
	border-radius: 30px!important;
	margin-top: 20px;
	border: 1px solid #00abb3;
	font-weight: bold!important;
}
.btn-complete:hover {
	color: white!important;
	width: 100%;
	border-radius: 30px!important;
	margin-top: 20px;
	border: 1px solid #204d74!important;
	font-weight: bold!important;
	background-color: #286090!important;
}
.user-pr-skill-1 {
	width: 25%;
	float: left;
	text-align: center;
}
.user-pr-skill-2 {
	width: 25%;
	float: left;
	text-align: center;
}
.user-pr-skill-3 {
	width: 25%;
	text-align: center;
	float: left;
}
.user-pr-skill-4 {
	width: 25%;
	text-align: center;
	float: left;
}
.btn-skill {
	width: 115px;
	margin-top: 15px;
	background-color: #EEEEEE;
	border: 1px solid #d9d9d9!important;
}
.btn-skill:hover {
	width: 115px;
	margin-top: 15px;
	background-color: #CCCCCC!important;
	border: 1px solid #CCCCCC!important;
}
.btn-click{
	background-color:#CCCCCC!important;
}
.skill {
	display: none;
}
.btn-user-skill {
	background-color: #00abb3;
	color: white;
	width: 10%;
	border-radius: 30px!important;
	border: 1px solid #00abb3;
	margin-left: 15px;
}
.btn-user-skill:hover {
	background-color: #00abb3;
	color: white!important;
	width: 10%;
	border: 1px solid #00abb3;
}
.exit-profile-skill {
	width: 100%;
	padding-top: 15px;
	padding-left: 40px;
}
.exit-profile-skill-text {
	width: 100%;
	height: 90%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.user-profile-skill {
	width: 960px;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
	border-bottom: 2px solid #ececec;
}
.company-profile-pr {
	width: 960px;
	height: 300px;
	padding: 32px 32px 40px 32px;
}
.company-pr-text {
	width: 85%;
	height: 200px;
	margin: 0 auto;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}

.company-info-side {
	width: 250px;
	background-color: #fff;
	float: left;
	margin-left: 3%;
	margin-top: 64px;
	box-shadow: 0 2px 3px rgba(30,32,34,0.1), 0 0 0 1px rgba(30,32,34,0.1);
}
.side-company-name {
	margin-bottom: 14px;
	font-weight: 600;
}
.side-company-name p {
	color: #949697;
}
.company-side-info {
	border-collapse: separate;
	border-spacing: 0 8px;
	font-weight: 400;
}
.company-side-info td {
	background-color: #fff;
	border-spacing: 0 8px;
	width: 40%;
	font-size: 13px;
}
.company-side-info td:last-child {
	border-left: 1px solid #ececec;
	padding-left: 15px;
}
.side-company {
	padding: 24px;
	color: #34373a;
	border-bottom: 1px solid #ececec;
}
.side-skill {
	padding: 24px;
}
.side-company-skill {
	margin-bottom: 14px;
	font-weight: 600;
	color: #949697;
}
.btn-side-skill {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	background-color: #00abb3;
	color: white;
	border: 1px solid #00abb3;
}
.btn-side-skill:hover {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	background-color: #00abb3;
	color: white!important;
	border: 1px solid #00abb3;
}
.history-content {
	width: 65%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.history-title {
	font-size: 35px;
	font-weight: 700;
	width: 50%;
	border-bottom: 5px solid #dddddd;
	color: #323648;
	margin: 0 auto;
}
.history-project {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: left;
}
.history-box {
	width: 80%;
	height: 200px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px 26px 22px 26px;
	box-shadow: 0 2px 3px rgba(30,32,34,0.1), 0 0 0 1px rgba(30,32,34,0.1);
}
.history-box:hover {
	width: 80%;
	height: 200px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 15px;
	padding: 22px 26px;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}
.history-box-text {
	margin-bottom: 5px;
	height: 30%;
	color: #34373a;
	font-weight: 600;
	line-height: 1.6;
	font-size: 18px;
}
.history-box-name {
	color: #767676;
	font-size: 15px;
	margin-bottom: 12px;
	margin-top: 8px;
	font-weight: 600;
	line-height: 1.42857;
}
.history-box-info {
	font-size: 15px;
	line-height: 16px;
	color: #949697;
	font-weight: 600;
}
.history-nil {
	width: 80%;
	height: 200px;
	margin: 0 auto;
	border: 2px solid #d9d9d9;
	border-radius: 10px;
}
.historry-nill-text {
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
	font-size: 18px;
}



