.user-main-content {
	padding: 32px;
}
.user-profile-top {
	width: 960px;
	height: 300px;
	background-color: #708090;
	margin: 0 auto;
	padding: 64px 32px 40px 32px;
}
.user-profile-pr {
	width: 960px;
	height: 300px;
	background-color: #fff;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
	border-bottom: 2px solid #ececec;
}
.profile-pr {
	font-weight: 400px;
	color: #545658;
	font-size: 25px;
	font-family: "Noto Sans JP", sans-serif;
}
.profile-pr-text {
	width: 85%;
	height: 90%;
	margin: 0 auto;
	background-color: #fbfbfb;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}
.nil-profile-pr-text {
	margin: 0 auto;
	font-size: 15px;
	font-family: "Noto Sans JP", sans-serif;
	text-align: center;
	padding-top: 90px;
}
.exit-profile-pr-text {
	width: 100%;
	height: 90%;
	padding-top: 15px;

}
.exit-profile-pr-text {
	font-size: 15px;
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.75em;
}
.user-profile-image {
	text-align: center;
}
.user-profile-name {
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.user-profile-residence {
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.user-profile-edit {
	text-align: center;
	padding-top: 10px;
}
.btn-edit {
	background-color: #fff;
	color: #01bfbd;
}
.btn-edit:hover {
	background-color: #EEEEEE;
	color: #01bfbd!important;
}
.user-edit-top {
	width: 900px;
	height: 550px;
	background-color: #fff;
	box-shadow: 0 0 4px gray;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
}
.user-edit-title {
	font-size: 30px;
	color: #34373a;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600px;
}
.user-edit-image {
	padding-left: 30px;
	padding-top: 30px;
}
.btn-image-edit {
	margin-left: 40px;
	background-color: #eeeeee;

}
.btn-image-edit:hover {
	margin-left: 40px;
	background-color: #DDDDDD;
}
.many-fields {
	padding: 30px;
}
.user-edit-name {
	width: 50%;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.user-edit-email {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	line-height: 2em;
	background-color: #fbfbfb;
	padding-left: 18px;
}
.btn-edit-residence {
	background-color: #fbfbfb!important;
	border: 1px solid #d9d9d9!important;
	color: inherit!important;
}
.user-pr {
	width: 900px;
	height: 300px;
	background-color: #fff;
	box-shadow: 0 0 4px gray;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
	margin-top: 40px;
}
.user-pr-title {
	width: 35%;
	height: 100%;
	float: left;
	padding: 20px;
}
.user-pr-text {
	width: 65%;
	height: 100%;
	float: left;

}
.pr-description-title {
	font-size: 20px;
	font-weight: 600px;
}
.pr-description-text {
	font-size: 11px;
	color: #949697;
}
.pr {
	background-color: #fbfbfb!important;
	border: 1px solid #d9d9d9!important;
}
.user-profile-complete {
	width: 800px;
	margin: 0 auto;
}
.btn-complete {
	background-color: #00abb3;
	color: white;
	width: 100%;
	border-radius: 30px;
	margin-top: 20px;
	border: 1px solid #00abb3;
}