.user-main-content {
	padding: 32px;
}
.user-profile-top {
	width: 960px;
	height: 300px;
	background-color: #708090;
	margin: 0 auto;
	padding: 64px 32px 40px 32px;
}
.user-profile-image {
	text-align: center;
}
.user-profile-name {
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.user-profile-residence {
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.user-profile-edit {
	text-align: center;
	padding-top: 10px;
}
.btn-edit {
	background-color: #fff;
	color: #01bfbd;
}
.btn-edit:hover {
	background-color: #EEEEEE;
	color: #01bfbd!important;
}
.user-edit-top {
	width: 700px;
	height: 600px;
	background-color: #fff;
	box-shadow: 0 0 4px gray;
	margin: 0 auto;
	padding: 32px 32px 40px 32px;
}
.user-edit-title {
	font-size: 30px;
	color: #34373a;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600px;
}
.user-edit-image {
	padding-left: 30px;
	padding-top: 30px;
}
.btn-image-edit {
	margin-left: 40x;
	background-color: #eeeeee;
	font-size: 30px;
}
.btn-image-edit:hover {
	margin-left: 40x;
	background-color: #DDDDDD;
	font-size: 30px;
}
